<form [formGroup]="shipmentForm" (ngSubmit)="onSubmit()">
  <div class="container m-auto p-8 bg-gray-200 rounded-lg shadow-md">
    <h6 class="text-xl mb-4">Registrar Envío</h6>

    <div class="mb-4">
      <label for="packageId" class="block mb-2">ID del Paquete:</label>
      <input
        id="packageId"
        type="number"
        formControlName="packageId"
        class="w-full p-2 border border-gray-300 rounded"
      >
      <div *ngIf="packageId?.invalid && packageId?.touched" class="text-red-500">
        ID del Paquete es requerido
      </div>
    </div>

    <div class="mb-4">
      <label for="originLocationAddress" class="block mb-2">Dirección de la Ubicación de Origen:</label>
      <input
        id="originLocationAddress"
        type="text"
        formControlName="originLocationAddress"
        class="w-full p-2 border border-gray-300 rounded"
      >
      <div *ngIf="originLocationAddress?.invalid && originLocationAddress?.touched" class="text-red-500">
        Dirección de la Ubicación de Origen es requerida
      </div>
    </div>

    <div class="mb-4">
      <label for="destinationLocationAddress" class="block mb-2">Dirección de la Ubicación de Destino:</label>
      <input
        id="destinationLocationAddress"
        type="text"
        formControlName="destinationLocationAddress"
        class="w-full p-2 border border-gray-300 rounded"
      >
      <div *ngIf="destinationLocationAddress?.invalid && destinationLocationAddress?.touched" class="text-red-500">
        Dirección de la Ubicación de Destino es requerida
      </div>
    </div>

    <div class="mb-4">
      <label for="status" class="block mb-2">Estado del Envío:</label>
      <input
        id="status"
        type="text"
        formControlName="status"
        class="w-full p-2 border border-gray-300 rounded"
      >
      <div *ngIf="status?.invalid && status?.touched" class="text-red-500">
        Estado del Envío es requerido
      </div>
    </div>

    <div class="mb-4">
      <label for="deliveryPersonId" class="block mb-2">Repartidor:</label>
      <select
        id="deliveryPersonId"
        formControlName="deliveryPersonId"
        class="w-full p-2 border border-gray-300 rounded"
      >
        <option *ngFor="let person of deliveryPersons" [value]="person.id">{{ person.name }}, {{person.type}}, {{person.phone}}</option>
      </select>
      <div *ngIf="deliveryPersonId?.invalid && deliveryPersonId?.touched" class="text-red-500">
        ID del Repartidor es requerido
      </div>
    </div>

    <div class="flex justify-end">
      <button
        type="submit"
        [disabled]="!shipmentForm.valid"
        class="py-2 px-4 bg-green-500 text-white rounded hover:bg-green-700"
      >
        Registrar Envío
      </button>
    </div>
  </div>
</form>
