<div class="navegacion w-100% h-20 bg-blue-500">
  <nav class="container m-auto bg-blue-300 w-100% h-full flex justify-between">
    <div class="logo w-20 h-full mr-6 bg-blue-800">
      <img src="" alt="">
    </div>
    <div class="w-auto h-full ml-6 bg-red-200 flex justify-center">
      <u class="flex">
        <li><a href="">Inicio</a></li>
        <li><a href="">Mis Encomiendas Activas</a></li>
        <li><a href="">Historial de Encomiendas</a></li>
      </u>
      <div class="userIMG w-20 h-full bg-blue-600">
        <img src="" alt="">
      </div>
    </div>
  </nav>
</div>
