<div class="cotizador sm:flex ">
    <div class="imagen-lateral flex">
        <img src="/popacket-front/src/assets/cotizador.jpg" alt="" class="relative h-12 w-12">
    </div>
    <div class="cotizador-lateral flex flex-col container:mx-auto text-center item-center justify-content-center">

        <div class="formulario-cotizador py-5 ">
            <p class="text-3xl text-center mt-10 mb-9 font-bold text-blue-500">Cotizador</p>
            <div class="pesoYtipo item-center py-5 flex-wrap">
                <form action="" class="my-1">
                    <label for="" class="text-xl font-bold text-blue-500">Peso</label>
                    <input type="text" class="mx-4 rounded-full" placeholder="(Kg)">
                    <select name="typeService" id="typeService" class="rounded-full">
                        <option value="service1">Economico</option>
                        <option value="service2">Estandar</option>
                        <option value="service3">Expres</option>
                    </select>
                </form>
            </div>
            <div class="botonLabel flex flex-col justify-content-center mx-auto my-1">
                <button class="border-navy focus:ring border shadow-md rounded-lg bg-blue-500 py-1 px-3 text-white hover:bg-blue-900">Cotizar</button>
                <label for=""></label>
            </div> 
        </div>

    </div>
</div>
