<app-navbar></app-navbar>
<div class="container mx-auto p-8 bg-gray-200 rounded-lg shadow-md">
  <h2 class="text-2xl mb-6 text-center">Realizar Envío</h2>

  <div>
    <ul class="steps">
      <li [ngClass]="{ 'active': currentStep === 1, 'inactive': currentStep !== 1 }">Registrar Paquete ></li>
      <li [ngClass]="{ 'active': currentStep === 2, 'inactive': currentStep !== 2 }">Registrar Ubicación ></li>
      <li [ngClass]="{ 'active': currentStep === 3, 'inactive': currentStep !== 3 }">Registrar Envío ></li>
      <li [ngClass]="{ 'active': currentStep === 4, 'inactive': currentStep !== 4 }">Registrar Pago</li>
    </ul>
  </div>

  <div [ngSwitch]="currentStep">
    <app-register-package *ngSwitchCase="1" (formValid)="handleFormValid($event, 1)"></app-register-package>
    <app-register-location *ngSwitchCase="2" (formValid)="handleFormValid($event, 2)"></app-register-location>
    <app-register-shipment *ngSwitchCase="3" (formValid)="handleFormValid($event, 3)"></app-register-shipment>
    <app-register-payment *ngSwitchCase="4" (formValid)="handleFormValid($event, 4)"></app-register-payment>
  </div>

  <div class="flex justify-between mt-4">
    <button type="button" (click)="prevStep()" [disabled]="currentStep === 1" class="py-2 px-4 bg-gray-500 text-white rounded hover:bg-gray-700">Atrás</button>
    <button type="button" (click)="nextStep()" [disabled]="!isStepValid[currentStep]" class="py-2 px-4 bg-blue-500 text-white rounded hover:bg-blue-700">Siguiente</button>
  </div>
</div>
