<div class="flex justify-center items-center min-h-screen bg-gray-100">
    <form [formGroup]="rescheduleForm" (ngSubmit)="submitReschedule()" class="w-full max-w-lg p-8 space-y-6 bg-white rounded-lg shadow-xl border-2 border-blue-600">
        <h2 class="text-xl font-semibold text-center text-blue-600">Reprogramar Envío</h2>

        <div class="space-y-4">
            <label for="packageId" class="block text-sm font-medium text-gray-700">ID del Paquete</label>
            <input type="text" formControlName="packageId" id="packageId"
                   class="w-full mt-1 px-4 py-2 border border-gray-300 rounded-lg shadow-sm focus:outline-none focus:border-blue-600 focus:ring-1 focus:ring-blue-600"
                   placeholder="Ingrese el ID del paquete">
        </div>

        <div class="space-y-4">
            <label for="pickupDateTime" class="block text-sm font-medium text-gray-700">Fecha y Hora de Recogida</label>
            <input type="datetime-local" formControlName="pickupDateTime" id="pickupDateTime"
                   class="w-full mt-1 px-4 py-2 border border-gray-300 rounded-lg shadow-sm focus:outline-none focus:border-blue-600 focus:ring-1 focus:ring-blue-600">
        </div>

        <div class="space-y-4">
            <label for="deliveryDateTime" class="block text-sm font-medium text-gray-700">Fecha y Hora de Entrega</label>
            <input type="datetime-local" formControlName="deliveryDateTime" id="deliveryDateTime"
                   class="w-full mt-1 px-4 py-2 border border-gray-300 rounded-lg shadow-sm focus:outline-none focus:border-blue-600 focus:ring-1 focus:ring-blue-600">
        </div>

        <!-- Mensaje de confirmación o error -->
        <div *ngIf="message" class="mt-4 text-center font-medium py-2 px-4 rounded-md"
             [class.text-green-500]="message.includes('éxito')"
             [class.text-red-500]="message.includes('Error')">
            {{ message }}
        </div>

        <div class="flex justify-center mt-6">
            <button type="submit" class="px-6 py-3 text-white bg-blue-600 rounded-lg hover:bg-blue-700 focus:outline-none focus:ring-2 focus:ring-blue-600 focus:ring-offset-2 transition duration-300">
                Reprogramar Envío
            </button>
        </div>
    </form>
</div>
