<app-navbar></app-navbar>
<div class="container m-auto">
  <h2>Mis Encomiendas</h2>
  <table>
    <thead clas="bg -blue-500">
      <tr>
        <td>ID</td>
        <td>Descripción</td>
        <td>Dirección de destino</td>
        <td>Dirección de origen</td>
        <td>Tipo de Pago</td>
        <td>Estado</td>
        <td>Peso</td>
      </tr>
    </thead>
    <tbody>
      <!-- <tr *ngFor="let package of packages">
        <td>{{ package.id }}</td>
        <td>{{ package.description }}</td>
        <td>{{ package.destinationAddress }}</td>
        <td>{{ package.originAddress }}</td>
        <td>{{ package.paymentType }}</td>
        <td>{{ package.status }}</td>
        <td>{{ package.weight }}</td>
      </tr> -->
    </tbody>
  </table>
</div>
